<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo</title>
</head>
<body>
<h1>测试Demo</h1>
<div id="app1">
  <!-- <myconponent msg="Hello Word!"></myconponent> -->
</div>
<div id="app"></div>

<div id="app2"></div>
<!-- Blogpost组件挂载点 -->
  
</body>
</html>