<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">  <!-- 解决360浏览器、IE浏览器兼容问题 -->
  <meta name="renderer" content="webkit"> <!-- 解决360浏览器、IE浏览器兼容问题 -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0"> <!-- 解决360浏览器、IE浏览器兼容问题 -->
  <link rel="icon" href="<%= BASE_URL %>monkey.ico"><!-- HtmlWebpackPlugin插件支持使用ejs模板引擎语法<%= BASE_URL %> -->
  <title>路由器</title>
</head>
<body>
  <div id="app">
    <!-- 挂载组件RouterDemo.vue -->
  </div>
  
</body>
</html>