/* index.css */
body {
    background: url('../assets/bg.jpg');
}
div {
    background: url('../assets/header.jpg') no-repeat;
}
p {
    display: flex;
}
@keyframes movetop {
	0%{ transform: translateY(0) }
	100%{ transform: translateY(-100%) }
}
